
{% extends "layouts/page.html" %}

{% block content %}

<section id="main-content">
    <div class="card">
        <div class="card-header">
            <h2 class=""> Gamer Profile</h2>
        </div>
        <div class="card-body">

    <form method="POST" class="form-horizontal" action="{{ url_for('profile.update_profile')}}">
        <input type="hidden" name="uid"  value="{{ user.uid }}" />

            <div class="form-group">
                <label>Main Game</label>
                <input class="form-control" type="text" value="{{ profile.main_game_id }}" name="main_game_id" readonly/>
            </div>
            <div class="form-group">
                <label>Display Name / Game Name</label>
                <input class="form-control" type="text" value="{{ profile.profile_name }}" name="profile_name" />
            </div>
            <div class="form-group">
                <label>Notes</label>
                <input class="form-control" type="text" value="{{ profile.notes }}" name="notes" />
            </div>
            <div class="form-group">
                <label>Preferred Currency</label>
                <input class="form-control" type="text" value="{{ profile.currency }}" name="currency" />
            </div>
            <div class="form-group">
                {% if profile and profile.main_game_id %}
                <button type="submit" class="btn btn-primary">
                    <i class="ti ti-server"> </i>
                    Update Gamer Profile
                </button>
                <a href="#" class="btn btn-success" data-toggle="modal" data-target="#addPayPalAccount">
                    <i class="ti ti-shopping-cart" > </i>
                    Add PayPal Account
                </a>

                {% else %}
                <a href="#" class="btn btn-success" data-toggle="modal" data-target="#addGameAccount">
                    <i class="ti ti-shopping-cart" > </i>
                    Add Game Account
                </a>

                {% endif %}
            </div>
    </form>




    </div>
    </div>


</section>
{% include "profile/modal/add_paypal.html" %}
{% include "profile/modal/add_game_account.html" %}
{% endblock %}
