
{% extends "layouts/page.html" %}

{% block content %}

<section id="main-content">
    <div class="card">
        <div class="card-header">
            <h2 class="title"> Gamer Profile</h2>
        </div>
        <div class="card-body">

        <form method="POST" class="form-horizontal" action="{{ url_for('profile.update_profile')}}" id="profileForm">
        {% if profile and profile.main_game_id %}
                <input type="hidden" name="main_game_id" value="{{ profile.main_game_id }}" />
        {% endif %}
                <input type="hidden" name="uid" value="{{ user.uid }}"/>
            <div class="form-group">
                <label>Main Game</label>
                <input class="form-control" type="text" value="{{ profile.main_game_id }}" name="main_game_id" readonly/>
            </div>
            <div class="form-group">
                <label>Display Name / Game Name</label>
                <input class="form-control" type="text" value="{{ profile.profile_name }}" name="profile_name" />
            </div>
            <div class="form-group">
                <label>Notes</label>
                <input class="form-control" type="text" value="{{ profile.notes }}" name="notes" />
            </div>
            <div class="form-group">
                <label>Preferred Currency</label>
                <input class="form-control" type="text" value="{{ profile.currency }}" name="currency" />
            </div>
            <div class="form-group">
                {% if profile and profile.main_game_id %}
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="ti ti-save"> </i>
                    Update
                </button>
                {% else %}
                <a href="#" class="btn btn-sm btn-success" data-toggle="modal" data-target="#addGameAccount">
                    <i class="ti ti-shopping-cart" > </i>
                    Add Game Account
                </a>

                {% endif %}
            </div>
        </form>
        {% if profile and profile.main_game_id %}
            <form class="form-horizontal" method="post" action="{{ url_for('profile.delete_profile') }}">
                <input type="hidden" name="main_game_id" value="{{ profile.main_game_id }}" />
                <input type="hidden" name="uid" value="{{ user.uid }}"/>
                <button type="submit" class="btn btn-sm btn-danger" id="deleteButton">
                    <i class="ti ti-cut"> </i>
                    Delete
                </button>

                {% if paypal_account and paypal_account.paypal_email %}
                <a href="#" class="btn btn-sm btn-success" data-toggle="modal" data-target="#addPayPalAccount">
                    <i class="ti ti-shopping-cart" > </i>
                    Show Merchant Account
                </a>

                <a href="#" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#showWallet">
                    <i class="ti ti-wallet" > </i>
                    Wallet
                </a>

                {% else %}
                <a href="#" class="btn btn-sm btn-success" data-toggle="modal" data-target="#addPayPalAccount">
                    <i class="ti ti-shopping-cart" > </i>
                    Merchant Account
                </a>
                {% endif %}

            </form>
        {% endif %}

    </div>
    </div>


</section>
{% include "profile/modal/add_paypal.html" %}
{% include "profile/modal/add_game_account.html" %}
{% include 'profile/modal/show_wallet.html' %}
{% endblock %}

