

<div class="modal fade" id="addPayPalAccount" tabindex="-1" role="dialog" aria-labelledby="addPayPalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 id="addPayPalLabel"> <i class="ti ti-credit-card"> </i>PayPal Account </h2>
            </div>

            <div class="modal-body">
                <h6>To Enable Buying and Selling you need to attach your PayPal Account into your Profile</h6>
                <h5 class="font-italic text-danger">Note: a service charge of <span class="text-info">5 USD</span> will be charged in order to approve the account for buying and selling in our market place</h5>
                <form class="form-horizontal" action="{{  }}" method="POST">
                    <div class="form-group">
                        <label for="paypal_account" class="label font-weight-bold text-black-50">PayPal Account</label>
                        <input type="email" id="paypal_account" name="paypal_account" class="form-control">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-sm">Add Account</button>
                    </div>
                </form>
            </div>

        </div>


    </div>

</div>