
{% extends "layouts/page.html" %}

{% block content %}
{% include "layouts/social.html" %}
<section id="main-content">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title font-weight-bold text-info">
                <i class="ti ti-file"> </i>
                How to list game accounts in our market place
            </h2>
        </div>
        <div class="card-body">
            <ol class="list-group">
                <li class="list-group-item">You need to ensure your account is added onto your account list in your <span class="font-weight-bold text-danger">Profile dashboard</span></li>
                <li class="list-group-item">Click on Dashboard under Market then on >> <span class="font-weight-bold text-danger">Start Account Listing</span> </li>
                <li class="list-group-item">The a Modal Box will appear allowing you to fill in your account details - this includes your game id, selling price, Login Email (im30), Password and Pin if available</li>
                <li class="list-group-item">Once you are done your account will start appearing in your dashboard with a status indicator indicating the account is not yet listed </li>
                <li class="list-group-item">Click your account and then add extra details, like number of gold sets, gold cards, and etch</li>
                <li class="list-group-item">Update your account and then it will appear in puvlic</li>
            </ol>
        </div>

    </div>

</section>

{% endblock %}