
{% extends "layouts/page.html" %}

{% block content %}
{% include "layouts/social.html" %}
<section id="main-content">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title font-weight-bold text-info"> About Last Shelter Survival Marketplace</h2>
        </div>
        <div class="card-body">
        <section>
            <h2 class="card-title font-weight-bold text-info"> Who We Are</h2>
            <p>Last Shelter Survival Marketplace is a platform created for gamers of Last Shelter Survival. We provide a dedicated space for players to buy and sell in-game items, facilitating the exchange of game accounts, farms, skins, and more.</p>
        </section>
        <section>
            <h2 class="card-title font-weight-bold text-info"> Our Mission</h2>
            <p>Our mission is to empower Last Shelter Survival players by offering them a secure and convenient marketplace to trade in-game items. Whether you're looking to expand your collection of game accounts, enhance your farms, or acquire unique skins, our platform strives to make the process easy and enjoyable.</p>
        </section>
        <section>
            <h2 class="card-title font-weight-bold text-info">What We Offer</h2>
            <p>Last Shelter Survival Marketplace allows users to:</p>
            <ul>
                <li>Buy and sell game accounts</li>
                <li>Trade Farms</li>
                <li>Exchange skins</li>
                <!-- Add more specific items/services here -->
            </ul>
        </section>
        <section>
            <h2 class="card-title font-weight-bold text-info">Get in Touch</h2>
            <p>If you have any questions, feedback, or suggestions, please don't hesitate to contact us.
                We're here to assist you and enhance your gaming experience on Last Shelter Survival.</p>
            <p>Email: support@last-shelter.vip</p>

        </section>
        <section>
            <h2 class="card-title font-weight-bold text-danger">Disclaimer</h2>
            <p>
                In order to obtain your game information we use publicly available Game API's
                we do not hack your game or any other person game data.
            </p>
            <p>Every Game Detail available in this website is either obtained from publicly available sources or from users
            themselves.</p>
        </section>
        </div>


    </div>

</section>

{% endblock %}