
{% extends "layouts/page.html" %}

{% block content %}

<section id="main-content">
    <div class="card">
        <div class="card-header">
            <h2 class=""> Settings</h2>
        </div>
        <div class="card-body">
        </div>

        <ul class="list-group">
            <li class="list-group-item">Request Account Verification <a href="#" class="btn btn-sm btn-primary"> Verification Request </a></li>
            <li class="list-group-item">Activate Automatic Gift Code Redemption <a href="#" class="btn btn-sm btn-primary"> Activate </a></li>
            <li class="list-group-item">List Account on Market <a href="#" class="btn btn-sm btn-primary"> Start Market Listing </a></li>
        </ul>
    </div>

</section>

{% endblock %}