
{% extends "layouts/page.html" %}

{% block content %}

<section id="main-content">
    <div class="card">
        <div class="card-header">
            <h2 class=""> Gift Codes</h2>
            <div>
                <label class="font-weight-bold text-info">
                    Insert your complete list of Game ID's so that whenever there is a new set of Gift Codes
                    they are automatically redeemed for you
                </label>
            </div>
        </div>
        <div class="card-body">
            <form class="form-horizontal" method="POST" action="{{ url_for('profile.redeem_codes') }}">
                <div class="form-group">
                    <label class="font-weight-bold">Game IDS, <small class="text-info"> Separate each game id with a comma </small></label>
                     <textarea class="form-control" style="height: 12em;"></textarea>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-sm">
                        <i class="ti ti-gift"></i>
                        Submit Game ID's </button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}