
{% extends "layouts/page.html" %}

{% block content %}

<section id="main-content">
    <div class="card">
        <div class="card-header">
            <h2 class=""> Last Base - Last Shelter VIP </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div class="card">
                <div class="stat-widget-one">
                    <div class="stat-icon dib"><i class="ti-user color-primary border-success"></i>
                    </div>
                    <div class="stat-content dib">
                        <div class="stat-text">Total Gamers</div>
                        <div class="stat-digit">1,012</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="stat-widget-one">
                    <div class="stat-icon dib"><i class="ti-gallery color-primary border-primary"></i>
                    </div>
                    <div class="stat-content dib">
                        <div class="stat-text">Items For Sale</div>
                        <div class="stat-digit">9,610</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="stat-widget-one">
                    <div class="stat-icon dib"><i class="ti-crown color-primary border-info"></i>
                    </div>
                    <div class="stat-content dib">
                        <div class="stat-text">LSS Skins</div>
                        <div class="stat-digit">1,700</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="stat-widget-one">
                    <div class="stat-icon dib"><i class="ti-link color-primary border-danger"></i></div>
                    <div class="stat-content dib">
                        <div class="stat-text">Farms</div>
                        <div class="stat-digit">2,781</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Gamers</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            {% if user %}
                                <li class="list-group-item">
                                    <a href="{{ url_for('auth.do_logout')}}" class="btn btn-danger btn-block">
                                        <i class="ti-power-off"> </i> <strong>Logout</strong>
                                    </a>
                                </li>
                            {% else %}
                                <li class="list-group-item">
                                    <a href="{{ url_for('auth.get_register') }}" class="btn btn-warning btn-block">
                                        <i class="ti-save"> </i> <strong>Create Account Today</strong>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="{{ url_for('auth.get_auth')}}" class="btn btn-primary btn-block">
                                        <i class="ti-user"> </i> <strong>Login</strong>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Last Base - <small> Buy &amp; Sell Virtual Items</small></h4>
                    </div>
                    <div class="card-body">
                <span class="card-content">
                        We help facilitate secure sale of virtual game items, such as accounts, skins, farms, and etc.
                </span>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>Added Benefits</h2>
            </div>

            <div class="card-body">
                <ul class="list-group m-1">
                    <li class="list-inline-item"><strong>Secure, Verified &amp; Fast Market Place for Gamers</strong></li>
                    <li class="list-inline-item"><strong>Get informed of latest in game developments faster</strong></li>
                    <li class="list-inline-item"><strong>Automated In-Game Gift Codes</strong></li>
                    <li class="list-inline-item"><strong>Access to well written In Game Tutorials &amp; Tips</strong></li>
                </ul>
            </div>
        </div>

    </div>
</section>
{% endblock %}

