
{% extends "layouts/page.html" %}

{% block content %}


<section id="main-content">
    <div class="card">
        <div class="card-header">
            <h2 class=""> Last Shelter - VIP Market </h2>
        </div>
    </div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3 class="title">Services</h3>
        </div>
        <div class="card-body">
            <ol>
                <li>
                    <h3><i class="ti-gift"></i> Automatic Gift Codes Redemption</h3>
                    <span class="font-weight-bold">
                        <blockquote> This service allows you to add your game accounts, then subscribe Upon which the service
                        will redeem upto 30 Gift Codes for you as they become available, and for all the game accounts
                        you added.
                        </blockquote>

                        <blockquote>
                            After Subscription we will obtain the Gift Codes for you, and you do not need to
                            take any other action
                        </blockquote>

                    </span>
                </li>
                <li><h3><i class="ti-email"> </i> Email Services</h3>
                    <span class="font-weight-bold">

                            <blockquote>This Service allows you to create lots of email addresses of which you can use to signup
                                for the game , in order to create multiple accounts and or farms.</blockquote>

                            <blockquote>The Email Addresses are intelligent enough so that they can be able to detect if they
                            had already been used, for example if you created 20 email addresses, everytime you use one
                                then you will be able to see in this service that the email has been used.</blockquote>

                            <blockquote>The Email Service will be able to automatically verify your game accounts without any action
                            from you. this means you can concentrate on creating your game accounts and not have to constantly
                                login and off , your email service provider (gmail).</blockquote>

                            <blockquote>We also take security of your game accounts seriously meaning any email about password reset
                            will just be redirected to your personal gmail account without any action from us, allowing you
                                to make the decision of verifying the password reset.</blockquote>

                            <blockquote>Every Action taken by our Email Service is 100 percent automated, so there is no human on the loop
                                and no one will be able to see your emails.</blockquote>
                    </span>
                </li>

                <li><h3> <i class="ti-shopping-cart"> </i> Merchant Services (Market)</h3>
                <span class="font-weight-bold">
                    <blockquute> This Service allows you to create your Wallet and Escrow Account of which you will be able to use
                    to safely buy and sell your game accounts, farms, skins and etc.</blockquute>
                    <blockquute>
                        The Advantages of using our service to buy and sell your game accounts and in-game items, is that
                        we are able to guarantee that as a buyer you will be able to get the items you bought, and in case
                        of game account we will be able to help secure your account.
                    </blockquute>
                    <blockquute>
                        The reverse is also true that as a seller we are able to guarantee that you will always get your
                        funds for your game account, and not be under paid in anyway.
                    </blockquute>

                </span>
                </li>

            </ol>
        </div>
    </div>
</div>


{#    <div class="row">#}
{#        <div class="col-lg-3">#}
{#            <div class="card">#}
{#                <div class="stat-widget-one">#}
{#                    <div class="stat-icon dib"><i class="ti-user color-primary border-success"></i>#}
{#                    </div>#}
{#                    <div class="stat-content dib">#}
{#                        <div class="stat-text">Total Gamers</div>#}
{#                        <div class="stat-digit">1,012</div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-lg-3">#}
{#            <div class="card">#}
{#                <div class="stat-widget-one">#}
{#                    <div class="stat-icon dib"><i class="ti-gallery color-primary border-primary"></i>#}
{#                    </div>#}
{#                    <div class="stat-content dib">#}
{#                        <div class="stat-text">Items For Sale</div>#}
{#                        <div class="stat-digit">9,610</div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-lg-3">#}
{#            <div class="card">#}
{#                <div class="stat-widget-one">#}
{#                    <div class="stat-icon dib"><i class="ti-crown color-primary border-info"></i>#}
{#                    </div>#}
{#                    <div class="stat-content dib">#}
{#                        <div class="stat-text">LSS Skins</div>#}
{#                        <div class="stat-digit">1,700</div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-lg-3">#}
{#            <div class="card">#}
{#                <div class="stat-widget-one">#}
{#                    <div class="stat-icon dib"><i class="ti-link color-primary border-danger"></i></div>#}
{#                    <div class="stat-content dib">#}
{#                        <div class="stat-text">Farms</div>#}
{#                        <div class="stat-digit">2,781</div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Gamers</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            {% if user %}
                                <li class="list-group-item">
                                    <a href="{{ url_for('auth.do_logout')}}" class="btn btn-danger btn-block">
                                        <i class="ti-power-off"> </i> <strong>Logout</strong>
                                    </a>
                                </li>
                            {% else %}
                                <li class="list-group-item">
                                    <a href="{{ url_for('auth.get_register') }}" class="btn btn-warning btn-block">
                                        <i class="ti-save"> </i> <strong>Create Account Today</strong>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="{{ url_for('auth.get_auth')}}" class="btn btn-primary btn-block">
                                        <i class="ti-user"> </i> <strong>Login</strong>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Last Shelter - <small> Buy &amp; Sell Virtual Items</small></h3>
                    </div>
                    <div class="card-body">
                <span class="card-content">
                    <h4> We help facilitate secure sale of virtual game items, such as accounts, skins, farms, and etc.</h4>
                </span>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>Added Benefits</h2>
            </div>

            <div class="card-body">
                <ul class="list-group m-1">
                    <li class="list-inline-item"><h4>Secure, Verified &amp; Fast Market Place for Gamers</h4></li>
                    <li class="list-inline-item"><h4>Get informed of latest in game developments faster</h4></li>
                    <li class="list-inline-item"><h4>Automated In-Game Gift Codes</h4></li>
                    <li class="list-inline-item"><h4>Access to well written In Game Tutorials &amp; Tips</h4></li>
                </ul>
            </div>
        </div>

    </div>

</section>
<section>

</section>
{% endblock %}

