{% extends "layouts/page.html" %}

{% block content %}

<section id="main-content">
    <div class="card fluid">
        <div class="card-header">
            <h3 class="card-title font-weight-bold">
                <i class="ti ti-shopping-cart"> </i>
                Buy &amp; Sell Game Accounts
            </h3>
            <div>
                <hr/>
                <label class="font-weight-bold text-info">Game Accounts Passwords and Login Emails are automatically verified with the Game Servers
                    before being listed here</label>
                    <label class="font-weight-bold">- Your Account will only successfully be listed if you submit correct login credentials</label>
                    <label class="font-weight-bold">- Once a Buyer is found (and has enough funds in escrow) We will send the buyer the game login details if you accept the purchase agreement</label>
                    <label class="font-weight-bold">- If the buyer is satisfied, and wants to proceed with the account purchase you will get notified after which you can transfer your email login details to the buyer</label>
                    <label class="font-weight-bold">- The buyer must then login and change account passwords, after this step is completed - the buyer gives us a notice and we send the money to the seller</label>
                    <label class="font-weight-bold">- All parties involved are never in possession of the full credentials required to take over an account before buying</label>
                    <label class="font-weight-bold">- The Seller also cannot retake the account and run away with the funds, as the funds are placed in escrow</label>
                    <label class="font-weight-bold">- A minimum of ten percent transaction fee will be applied to all transactions</label>
                    <label class="font-weight-bold">- All parties involved in this market place are pre verified before being allowed to participate</label>
            </div>
        </div>

        <div class="card-body">
                <h3 class="card-title"><i class="ti ti-game"></i> Account Listings</h3>
            <table class="table table-bordered table-striped table-responsive-sm table-responsive-md">
                   <thead>
                        <tr>
                            <td class="font-weight-bold text-info">Account Name</td>
                            <td class="font-weight-bold text-info">State</td>
                            <td class="font-weight-bold text-info">Base Level</td>
                            <td class="font-weight-bold text-info">Base Power</td>
                            <td class="font-weight-bold text-info">Price</td>
                        </tr>
                   </thead>
                    <tbody>
                    {% for account in account_listings %}
                        <tr>
                            <td>{{ account.base_name }}</td>
                            <td>{{ account.state }}</td>
                            <td>{{ account.base_level }}</td>
                            <td>{{ account.power }}</td>
                            <td>{{ account.listing_price }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
            </table>

        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#add_account">
                <span class="font-weight-bold text-white">
                    <i class="ti ti-plus"> </i>
                    Add Account
                </span>
            </a>

            <a class="btn btn-sm btn-secondary">
                <span class="font-weight-bold text-white">
                    <i class="ti ti-user"> </i>
                    My Accounts
                </span>
            </a>

        </div>
    </div>





</section>

{% endblock %}

{% include 'market/accounts/modals/add_game_account.html' %}